.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    font-size: 2em;
    color: #F7F8FA;
    user-select: none;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background-color: #F7F8FA;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .formbox {
    width: 100%;
    height: 100%;
    padding: 40px;
}
.formbox h1 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.inputbox {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.inputbox input:focus~label,
.inputbox input:valid~label {
    top: -5px;
}
.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.inputbox .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #F7F8FA;
    font-weight: 500;
}
.btn:hover {
    text-decoration: underline;
    color: #F7F8FA;
}

.loginregister {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.loginregister p .link {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.loginregister p .link:hover {
    text-decoration: underline;
}