.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 6px #ffffff88);
}
.loginWrapper {
    position: relative;
    width: 400px;
    height: 420px;
    background-color: #F7F8FA;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerWrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #F7F8FA;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 6px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}